<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.crushermanagement">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CrusherManagement"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Edit"
            android:exported="false" />
        <activity
            android:name=".AllEntries.AllEntryClass"
            android:exported="false" />
        <activity
            android:name=".Add_user"
            android:exported="false" />
        <activity
            android:name=".ViewEntry.ViewEntryClass"
            android:exported="true" />
        <activity
            android:name=".NewEntry.NewEntryClass"
            android:exported="true" />
        <activity
            android:name=".Dashboard.DashboardClass"
            android:exported="true" />
        <activity
            android:name=".UserList.UserListClass"
            android:exported="true" />
        <activity
            android:name=".Login"
            android:exported="true" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>